<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <p-avatar image="/ms-icon-310x310.png" shape="square" size="xlarge" class="mr-2" />
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else urlRef">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #urlRef>
        <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #noLink>
        <div class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      </ng-template>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />


        <div *ngIf="isLogged" class="flex flax-row justify-content-center align-items-center">
          <p-button icon="pi pi-times" [rounded]="true" (onClick)="handleLotout()" [text]="true" [raised]="true" severity="danger" class="mx-3"/>
          <div>Hi, {{profile.username}}!</div>
        </div>

        <div *ngIf="!isLogged">
          <p-button icon="pi pi-user" [rounded]="true" (onClick)="handleLogin()" [text]="true" [raised]="true"  class="mx-3"
          severity="info" />
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>