spring.application.name=
server.port=
logging.level.it.unical.IoTOnChain=

#### DB                 ############################################################
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
spring.jpa.hibernate.ddl-auto=
spring.jpa.open-in-view=
spring.jpa.generate-ddl=
#spring.jpa.show-sql=
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=

#### Init               ############################################################
app.init.db=
app.init.chain=

#### Blockchain               ######################################################
app.chain.polygon=
app.chain.pvtkey=
app.chain.address.contract.hash=
app.chain.address.contract.box=
app.chain.address.contract.token.v1=
app.chain.address.contract.token.v2=

#### Keycloak                  ######################################################
spring.security.oauth2.resourceserver.jwt.issuer-uri=

#### SSL  ###########################################################################
server.ssl.key-store-type=
server.ssl.key-store=
server.ssl.key-store-password=
server.ssl.key-alias=
server.ssl.enabled=
