
<p-toast />
<div class="card" *ngIf="products">
    <p-dataView #dv [value]="products" [rows]="10" [paginator]="true">
        <ng-template pTemplate="list" let-products>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                    <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                        [ngClass]="{ 'border-top-1 surface-border': !first }">
                        <div class="md:w-10rem relative">
                            <img class="block xl:block mx-auto border-round w-full"
                                [src]="'https://placehold.co/600x400?text=' + item.productType.name"
                                [alt]="item.name" />
                            <p-tag [value]="item.productType.name" class="absolute" [style.left.px]="4"
                                [style.top.px]="4" />
                        </div>
                        <div
                            class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                <div>
                                    <span class="font-medium text-secondary text-sm">{{ item.productionDate }}</span>
                                    <div class="text-lg font-medium text-900 mt-2">{{ item.batchId }}</div>
                                </div>
                                <!-- <div class="surface-100 p-1" style="border-radius: 30px">
                                  <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                      <span class="text-900 font-medium text-sm">{{ item.rating }}</span>
                                      <i class="pi pi-star-fill text-yellow-500"></i>
                                  </div>
                              </div> -->
                            </div>
                            <div class="flex flex-column md:align-items-end gap-5">
                                <span class="text-xl font-semibold text-900">{{ item.quantity + '' + item.unity
                                    }}</span>
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
                                    <p-button icon="pi pi-info-circle"
                                        class="flex-auto md:flex-initial white-space-nowrap" />
                                    <p-button icon="pi pi-send" class="flex-auto md:flex-initial white-space-nowrap"
                                        (onClick)="showTrasferDialog(item)" label="Transfer"
                                        [disabled]="item.quantity <= 0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<div class="card">

    <p-dialog header="Make Trasfer" [modal]="true" [(visible)]="visibleTrasferDialog">
        <div class="card flex flex-column md:flex-row gap-3 mb-3" *ngIf="selectedBatch">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <p-dropdown 
                [options]="companyClients" 
                [(ngModel)]="selectedCompanyClient" 
                placeholder="Select a Company Receiver" 
                [editable]="true" 
                optionLabel="name" />
            </p-inputGroup>
            <p-inputGroup>
                <p-inputGroupAddon>Quantity</p-inputGroupAddon>
                <input type="number" pInputText placeholder=1 [(ngModel)]="selectedQuantity"/>
                <p-inputGroupAddon>{{ selectedBatch.unity }}</p-inputGroupAddon>
            </p-inputGroup>
            
            <div class="flex align-items-center">
                <div class="card flex justify-content-center">
                    <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="transfertype" value="OneShot" [(ngModel)]="selectedTransferType" inputId="selectedTransferType1" />
                            <label for="selectedTransferType1" class="ml-2">
                                Atomic
                            </label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="transfertype" value="WithAcceptance" [(ngModel)]="selectedTransferType" inputId="selectedTransferType2" />
                            <label for="selectedTransferType2" class="ml-2">
                                With Acceptance
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="visibleTrasferDialog = false" />
            <p-button label="Save" (onClick)="save()" />
        </div>
    </p-dialog>
</div>