<p-toast />
<p-confirmPopup />
<p-table
  [columns]="cols"
  [value]="transferts"
  [tableStyle]="{ 'min-width': '50rem' }"
  dataKey="id"
  [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="caption">
    <div class="flex flex-wrap justify-content-end gap-2">
      <p-button
        label="Expand All"
        icon="pi pi-plus"
        text
        (onClick)="expandAll()"
      />
      <p-button
        label="Collapse All"
        icon="pi pi-minus"
        text
        (onClick)="collapseAll()"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 5rem"></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-expanded="expanded"
  >
    <tr>
      <td>
        <p-button
          type="button"
          pRipple
          [pRowToggler]="rowData"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>

      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>

      <td >
        <p-button *ngIf="rowData.type != 'ONESHOT' && rowData.status == 'INIT'  && rowData.companyRecipientUsername == companyLogged"
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          severity="success"
          (onClick)="accept(rowData)"
        />
        <p-button *ngIf="rowData.type != 'ONESHOT' && rowData.status == 'INIT' && rowData.companyRecipientUsername == companyLogged"
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (onClick)="reject(rowData)"
        />

        <p-button *ngIf="rowData.type != 'ONESHOT' && rowData.status == 'INIT' && rowData.companySenderUsername == companyLogged"
        icon="pi pi-trash"
        severity="danger"
        [rounded]="true"
        [outlined]="true"
        (onClick)="abort(rowData)"
      />
      <p-button *ngIf="rowData.status == 'COMPLETED' && rowData.companySenderUsername == companyLogged"
      icon="pi pi-truck"
      severity="danger"
      [rounded]="true"
      [outlined]="true"
      (onClick)="sendTruckConfirm($event, rowData)"
    />

      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-tx>
    <tr>
      <td colspan="7">
        <div class="p-3">
          <p-table
            [columns]="colsTx"
            [value]="tx.txTransactionList"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{ rowData[col.field] }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
